/* Globals */
html {
  font-size: 62.5%;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  background: #0e1014;
  color: #e4e5ea;
  overflow-x: hidden;
}
#root {
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #e4e5ea;
}
img {
  display: block;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Site width */
section,
nav,
footer > div {
  max-width: 32rem;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  section,
  .header .container,
  footer > div {
    /* max-width: 80rem; */
    max-width: 114rem;
    margin: 0 auto;
  }
  nav {
    max-width: unset;
  }
}
